In [ ]:
understanding the variables in python :

In [ ]:
x = 2
y = 3

In [3]:
x = 2
y = 3
z = x+y

print(z)

5

In [ ]:
Rules for declaring the variables in python :

In [ ]:
Rule No - 1 : A variable name should not contain any namespaces

In [4]:
first name = 'Faiyaz'
print(first name)

SyntaxError: invalid syntax (Temp/ipykernel_4604/3188792262.py, line 1)

In [5]:
firstname = 'Faiyaz'

print(firstname)

Faiyaz

In [6]:
first_name = 'Faiyaz'

print(first_name)

Faiyaz

In [ ]:
Rule No - 2 : A variable name should not start with the number **

In [7]:
1name = 'david'

print(1name)

SyntaxError: invalid syntax (Temp/ipykernel_4604/645546121.py, line 1)

In [8]:
name1 = 'david'

print(name1)

david

In [ ]:
Rule No - 3 : A variable name should not contain anyspecial characters

In [ ]:
@ # $ & *

In [9]:
name@ = 'areeba'
print(name@)

SyntaxError: invalid syntax (Temp/ipykernel_4604/4230373084.py, line 1)

In [ ]:
Introduction to datatypes in python :

In [ ]:
1. String =====> str
2. Numbers -----> integers ===>int floats=====> float(decimels)
3. lists =====> list
4. tuples =====> tuple
5. dictionaries =====> dict

In [ ]:
classification of datatypes :
    broadly classified in two categories
    1. mutable datatypes =====> which we edit and alter =====> flexible in nature
    2. immutable datatypes =====> which we cannot edit and alter =====> fixed in nature

In [ ]:
introduction to string datatype :
definition : A string is nothing but a series of characters declared in quotes
classification : It is classified as an immutable datatype (fixed datatype)
    
how to declare / define the string datatype : 
    1. single quote =====> ''
    2. double quotes =====> " "
    3. triple quote =====> """ """

In [10]:
name = 'kumar' # single quote

print(name)

kumar

In [13]:
name2 = "juveriya" # double quote

print(name2)

juveriya

In [14]:
name3 = """rishi""" # triple quote

print(name3)

rishi

In [ ]:
# is used for commenting the lines -----> it will not impact the code

In [ ]:
introduction to string methods :

In [15]:
type(name)

str

In [16]:
type(name2)

str

In [17]:
type(name3)

str