In [ ]:
introduction to Numbers :

In [ ]:
integers -----> int 0,1,2......
floats -------> float -----> 0.1 , 0.5, 5.2

In [2]:
number = 2

In [3]:
print(number)

2

In [4]:
type(number)

int

In [5]:
n = 0.5

In [6]:
print(n)

0.5

In [7]:
type(n)

float

In [ ]:
introduction to list datatype :

In [ ]:
defination : A ist is a collection of items declared in a particular order.
    
classification : it is classified as a mutable datatype
    
how to define / declare the list datatype =======> []

In [8]:
students = ['kumar','naveed', 'amala', 'areeba', 'keerthi', 'juveriya']

In [9]:
print(students)

['kumar', 'naveed', 'amala', 'areeba', 'keerthi', 'juveriya']

In [ ]:
understanding the concept of indexing :
    0,1,2,3...................N

In [ ]:
# req : i want to access naveed name in the output......?

In [10]:
print(students[1])

naveed

In [11]:
print(students[1]. title())

Naveed

In [ ]:
1. how to add new elements to the list

2. how to modify the elements in the list

3. how to delete the elements in the list

In [ ]:
# req : i want to add ramesh to the above list...

In [12]:
students.append('ramesh')

In [13]:
print(students)

['kumar', 'naveed', 'amala', 'areeba', 'keerthi', 'juveriya', 'ramesh']

In [ ]:
# req : i wan to to add triveni to the above list....

In [14]:
students.append('triveni')

In [16]:
print(students)

['kumar', 'naveed', 'amala', 'areeba', 'keerthi', 'juveriya', 'ramesh', 'triveni']

In [ ]:
# req : i want to add mohit name to the 2nd index position....

In [17]:
students.insert(2,'mohit')

In [18]:
print(students)

['kumar', 'naveed', 'mohit', 'amala', 'areeba', 'keerthi', 'juveriya', 'ramesh', 'triveni']

In [19]:
print(students[2])

mohit

In [ ]:
interview questions : can you explain the diff dtw append and insert method in a list.....?

In [20]:
print(students)

['kumar', 'naveed', 'mohit', 'amala', 'areeba', 'keerthi', 'juveriya', 'ramesh', 'triveni']

In [ ]:
# req : i want to modify naveed name to hamza...?

In [21]:
students[1] = 'hamza'

In [22]:
print(students)

['kumar', 'hamza', 'mohit', 'amala', 'areeba', 'keerthi', 'juveriya', 'ramesh', 'triveni']

In [23]:
print(students)

['kumar', 'hamza', 'mohit', 'amala', 'areeba', 'keerthi', 'juveriya', 'ramesh', 'triveni']

In [ ]:
# how to delete the elements from the list datatype...

In [ ]:
# req : i want to delete kumar name from the above list......?

In [24]:
del students [0]

In [25]:
print(students)

['hamza', 'mohit', 'amala', 'areeba', 'keerthi', 'juveriya', 'ramesh', 'triveni']